<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Site</title>
    <link rel="stylesheet" href="css/styles.css" >
</head>
<body>

    <header>
        <div class="container">
            <img src="./img/logo.png" alt="Golden" class="logo">

            <div class="heading clearfix">
                <nav>
                    <ul class="menu">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Portfolio</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="titles">
                <div class="titles_first">
                    Welcome To Our Studio! 
                </div>
                <h1>
                    It's nice to meet you
                </h1>
            </div>

            <a class="button" href="#">Tell me more</a>

        </div>
    </header>

    <section id="services">
         <div class="container">
            
            <div class="title">
                <h2>Services</h2>
                <p>Choose your services</p>
            </div>

            <div class="services clearfix">
                <div class="services_item">
                    <img src="./img/icon1.png" alt="Service">
                    <h3>E-Commerce</h3>
                    <p>Service description</p>
                </div>

                <div class="services_item">
                    <img src="./img/icon2.png" alt="Service">
                    <h3>Responsive Web</h3>
                    <p>Service description</p>
                </div>

                <div class="services_item">
                    <img src="./img/icon3.png" alt="Service">
                    <h3>Web Security</h3>
                    <p>Service description</p>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">

                <div class="title">
                    <h2>Portfolio</h2>
                    <p>Look at it</p>
                </div>

                <div class="works clearfix">
                    <img src="./img/img1.jpg" alt="Work">
                    <img src="./img/img2.jpg" alt="Work">
                    <img src="./img/img3.jpg" alt="Work">
                </div>
        
        </div>
    </section>

    <section id="about">
        <div class="container">
            
            <div class="title">
                <h2>About Us</h2>
                <p>Some info on us</p>
            </div>

            <div class="info clearfix">
                <div class="info_text_left">    
                    <h4>July 2010</h4>
                    <div class="description">Our humble begginging</div>
                    <p>This text is all about the beggining of our company blah-blah-blah yada-yada-yada</p>
                </div>
                <div class="img_left"><img src="./img/about1.jpg" alt="Story"></div>
            </div>

            <div class="info clearfix">
                <div class="info_text_right">    
                    <h4>July 2010</h4>
                    <div class="description">Our humble begginging</div>
                    <p>This text is all about the beggining of our company blah-blah-blah yada-yada-yada</p>
                </div>
                <div class="img_right"><img src="./img/about1.jpg" alt="Story"></div>
            </div>

            <div class="info clearfix">
                <div class="info_text_left">    
                    <h4>July 2010</h4>
                    <div class="description">Our humble begginging</div>
                    <p>This text is all about the beggining of our company blah-blah-blah yada-yada-yada</p>
                </div>
                <div class="img_left"><img src="./img/about1.jpg" alt="Story"></div>
                
            </div>

            <div class="info clearfix">
                <div class="info_text_right">    
                    <h4>July 2010</h4>
                    <div class="description">Our humble begginging</div>
                    <p>This text is all about the beggining of our company blah-blah-blah yada-yada-yada</p>
                </div>
                <div class="img_right"><img src="./img/about1.jpg" alt="Story"></div>
            </div>
        
        </div>
    </section>

    <footer>
        <div class="container">
            <p>Copyright</p>
        </div>
    </footer>

</body>
</html>